<%- include('partials/head_sec') %>

    <body>
        <%- include('partials/header') %>
            <main class="head center m1">
                <div class="h1 fhw h11">
                    <%- include('partials/navbar') %>
                        <div class="fhw center">
                            <div id="postdiv" class="mancon mart20">
                                <div id="reqverdiv" class="conitm center" style="display: none;">
                                    <div class="mcdata scrollver">
                                        <div id="reqverdivadd" class="scrollver1">
                                        </div>
                                    </div>
                                </div>
                                <!-- add data  -->
                            </div>
                        </div>
                        <%- include('partials/suggested') %>
                </div>
            </main>
            <div id="listfloat" class="lgn postfloat"><div class="flexc"><div id="listfloathead" class="mart20 floatheit"></div></div></div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
            <script src="/js/nave.js"></script>
            <script src="/js/rightnav.js"></script>
            <script src="/js/help.js"></script>
            <script src="/js/daseboaddata.js"></script>
    </body>

    </html>